services:
  db:
    image: postgres:16
    environment:
      POSTGRES_DB: paperless
      POSTGRES_USER: paperless
      POSTGRES_PASSWORD: paperless
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  api:
    build:
      context: "./Paperless API"
      dockerfile: Dockerfile
    environment:
      ConnectionStrings__Postgres: Host=db;Port=5432;Database=paperless;Username=paperless;Password=paperless
      RabbitMQ__Host: rabbitmq
      RabbitMQ__Queue: ocr_jobs
      Minio__Endpoint: http://minio:9000
      Minio__AccessKey: minioadmin
      Minio__SecretKey: minioadmin
      Minio__Bucket: documents
    depends_on:
      - db
    ports:
      - "8080:8080"

  ui:
    build:
      context: "./Paperless UI"
      dockerfile: Dockerfile
    ports:
      - "80:80"
    depends_on:
      - api

  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq
    ports:
      - 5672:5672
      - 15672:15672
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq

  minio:
    image: minio/minio
    command: server /data --console-address ":9001"
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin
    ports:
      - "9000:9000"   
      - "9001:9001"   
    volumes:
      - minio_data:/data

  ocrworker:
    build:
      context: ./Paperless_OCRWorker
      dockerfile: Dockerfile
    depends_on:
      - rabbitmq
    environment:
      RabbitMQ__Host: rabbitmq

  genai-worker:
    build:
      context: "./Paperless AI"
      dockerfile: "./Paperless AI/Dockerfile"
    restart: always
    depends_on:
      - rabbitmq
      - minio
    environment:
      # Gemini
      GEMINI_API_KEY: AIzaSyDa-MwTbM5kU9LYpFnglVD30_0wiGN0QT4
      GEMINI_MODEL: gemini-2.5-flash

      # RabbitMQ (Queue-Namen unbedingt an deine "OCR-fertig"-Queue anpassen!)
      RABBITMQ_HOST: rabbitmq
      RABBITMQ_USER: guest
      RABBITMQ_PASS: guest
      RABBITMQ_OCR_COMPLETED_QUEUE: ocr_completed

      # MinIO
      MINIO_ENDPOINT: http://minio:9000
      MINIO_ACCESS_KEY: minioadmin
      MINIO_SECRET_KEY: minioadmin
      MINIO_BUCKET: documents
      MINIO_SUMMARY_PREFIX: summaries/

volumes:
  pgdata:
  rabbitmq_data:
  minio_data: